<h2>Edit new quote</h2><br><br>
<%= form_with model: @quote, local: true do | f |  %>
    
    <%= f.text_area :content %><br><br>
  
    <%= f.submit "Edit Quote" %>
<% end %>

<!-- , class: @quote.errors.any? ? "error-field" : nil  -->