<h3>Here are all your quotes</h3><br>

<ul>
    <% @quotes.each do | q | %>
        <li><%= q.content %></li><br><br>
        <%= button_to "Delete Quote", quote_path(q), method: "delete" %>
        <%#= button_to "See Book", book_path(@book, q), method: "get" %><br>
    <% end %>
</ul>

<!--How can I link these quotes to the book they belong to and if clicked the user is taken to the book show page?>