<h1>Quotes</h1>

<h1><%= @quote.content %></h1>

<h1><%= link_to "Edit", edit_quote_path %></h1>
<%= link_to "Delete", quote_path(@quote),
    :data => {:confirm => "Are you sure?",
    :method => "delete"} %>
